[Desktop Entry]
Name=Rotomatic
Comment=Utility to map Griffin Powermate input signals to control system audio
Exec=rotomatic
Terminal=false
Type=Application
